[data-theme="jupiter"] {
  --md-source: #DC8E61;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #331200;
  --md-ref-palette-primary20: #532200;
  --md-ref-palette-primary25: #652a00;
  --md-ref-palette-primary30: #763300;
  --md-ref-palette-primary35: #883d03;
  --md-ref-palette-primary40: #974810;
  --md-ref-palette-primary50: #b66028;
  --md-ref-palette-primary60: #d6783f;
  --md-ref-palette-primary70: #f69256;
  --md-ref-palette-primary80: #ffb68e;
  --md-ref-palette-primary90: #ffdbc9;
  --md-ref-palette-primary95: #ffede5;
  --md-ref-palette-primary98: #fff8f6;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #2b160a;
  --md-ref-palette-secondary20: #432b1d;
  --md-ref-palette-secondary25: #4f3527;
  --md-ref-palette-secondary30: #5c4132;
  --md-ref-palette-secondary35: #694c3c;
  --md-ref-palette-secondary40: #765848;
  --md-ref-palette-secondary50: #91705f;
  --md-ref-palette-secondary60: #ac8977;
  --md-ref-palette-secondary70: #c9a390;
  --md-ref-palette-secondary80: #e6beaa;
  --md-ref-palette-secondary90: #ffdbc9;
  --md-ref-palette-secondary95: #ffede5;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #1e1c00;
  --md-ref-palette-tertiary20: #343208;
  --md-ref-palette-tertiary25: #3f3d13;
  --md-ref-palette-tertiary30: #4b481d;
  --md-ref-palette-tertiary35: #575427;
  --md-ref-palette-tertiary40: #636032;
  --md-ref-palette-tertiary50: #7c7948;
  --md-ref-palette-tertiary60: #969360;
  --md-ref-palette-tertiary70: #b1ad78;
  --md-ref-palette-tertiary80: #cdc991;
  --md-ref-palette-tertiary90: #eae5ab;
  --md-ref-palette-tertiary95: #f8f3b8;
  --md-ref-palette-tertiary98: #fffadb;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #201a17;
  --md-ref-palette-neutral20: #362f2c;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4d4542;
  --md-ref-palette-neutral35: #59514d;
  --md-ref-palette-neutral40: #655d59;
  --md-ref-palette-neutral50: #7e7571;
  --md-ref-palette-neutral60: #998f8a;
  --md-ref-palette-neutral70: #b4a9a4;
  --md-ref-palette-neutral80: #d0c4bf;
  --md-ref-palette-neutral90: #ece0db;
  --md-ref-palette-neutral95: #fbeee9;
  --md-ref-palette-neutral98: #fff8f6;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #241913;
  --md-ref-palette-neutral-variant20: #3b2e27;
  --md-ref-palette-neutral-variant25: #463931;
  --md-ref-palette-neutral-variant30: #52443c;
  --md-ref-palette-neutral-variant35: #5e4f48;
  --md-ref-palette-neutral-variant40: #6b5b53;
  --md-ref-palette-neutral-variant50: #85746b;
  --md-ref-palette-neutral-variant60: #9f8d84;
  --md-ref-palette-neutral-variant70: #bba79e;
  --md-ref-palette-neutral-variant80: #d7c2b9;
  --md-ref-palette-neutral-variant90: #f4ded4;
  --md-ref-palette-neutral-variant95: #ffede5;
  --md-ref-palette-neutral-variant98: #fff8f6;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #974810;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdbc9;
  --md-sys-color-on-primary-container-light: #331200;
  --md-sys-color-secondary-light: #765848;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdbc9;
  --md-sys-color-on-secondary-container-light: #2b160a;
  --md-sys-color-tertiary-light: #636032;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #eae5ab;
  --md-sys-color-on-tertiary-container-light: #1e1c00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a17;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #201a17;
  --md-sys-color-surface-variant-light: #f4ded4;
  --md-sys-color-on-surface-variant-light: #52443c;
  --md-sys-color-outline-light: #85746b;
  --md-sys-color-inverse-on-surface-light: #fbeee9;
  --md-sys-color-inverse-surface-light: #362f2c;
  --md-sys-color-inverse-primary-light: #ffb68e;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #974810;
  --md-sys-color-outline-variant-light: #d7c2b9;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #ffb68e;
  --md-sys-color-on-primary-dark: #532200;
  --md-sys-color-primary-container-dark: #763300;
  --md-sys-color-on-primary-container-dark: #ffdbc9;
  --md-sys-color-secondary-dark: #e6beaa;
  --md-sys-color-on-secondary-dark: #432b1d;
  --md-sys-color-secondary-container-dark: #5c4132;
  --md-sys-color-on-secondary-container-dark: #ffdbc9;
  --md-sys-color-tertiary-dark: #cdc991;
  --md-sys-color-on-tertiary-dark: #343208;
  --md-sys-color-tertiary-container-dark: #4b481d;
  --md-sys-color-on-tertiary-container-dark: #eae5ab;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a17;
  --md-sys-color-on-background-dark: #ece0db;
  --md-sys-color-surface-dark: #201a17;
  --md-sys-color-on-surface-dark: #ece0db;
  --md-sys-color-surface-variant-dark: #52443c;
  --md-sys-color-on-surface-variant-dark: #d7c2b9;
  --md-sys-color-outline-dark: #9f8d84;
  --md-sys-color-inverse-on-surface-dark: #201a17;
  --md-sys-color-inverse-surface-dark: #ece0db;
  --md-sys-color-inverse-primary-dark: #974810;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb68e;
  --md-sys-color-outline-variant-dark: #52443c;
  --md-sys-color-scrim-dark: #000000;
  }
  