[data-theme="neptune"] {
    --md-source: #225ee1;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #00174b;
    --md-ref-palette-primary20: #002a78;
    --md-ref-palette-primary25: #00348f;
    --md-ref-palette-primary30: #003ea8;
    --md-ref-palette-primary35: #0048c1;
    --md-ref-palette-primary40: #0c54d7;
    --md-ref-palette-primary50: #396ef1;
    --md-ref-palette-primary60: #618bff;
    --md-ref-palette-primary70: #8ca8ff;
    --md-ref-palette-primary80: #b4c5ff;
    --md-ref-palette-primary90: #dbe1ff;
    --md-ref-palette-primary95: #eef0ff;
    --md-ref-palette-primary98: #faf8ff;
    --md-ref-palette-primary99: #fefbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #161b2c;
    --md-ref-palette-secondary20: #2b3042;
    --md-ref-palette-secondary25: #363b4d;
    --md-ref-palette-secondary30: #414659;
    --md-ref-palette-secondary35: #4d5265;
    --md-ref-palette-secondary40: #595e72;
    --md-ref-palette-secondary50: #71768b;
    --md-ref-palette-secondary60: #8b90a5;
    --md-ref-palette-secondary70: #a6aac1;
    --md-ref-palette-secondary80: #c1c5dd;
    --md-ref-palette-secondary90: #dde1f9;
    --md-ref-palette-secondary95: #eef0ff;
    --md-ref-palette-secondary98: #faf8ff;
    --md-ref-palette-secondary99: #fefbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #2b122b;
    --md-ref-palette-tertiary20: #422741;
    --md-ref-palette-tertiary25: #4e324c;
    --md-ref-palette-tertiary30: #5a3d58;
    --md-ref-palette-tertiary35: #674864;
    --md-ref-palette-tertiary40: #745470;
    --md-ref-palette-tertiary50: #8e6c8a;
    --md-ref-palette-tertiary60: #a986a4;
    --md-ref-palette-tertiary70: #c5a0c0;
    --md-ref-palette-tertiary80: #e2bbdb;
    --md-ref-palette-tertiary90: #ffd6f8;
    --md-ref-palette-tertiary95: #ffebf9;
    --md-ref-palette-tertiary98: #fff7fa;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1b1b1f;
    --md-ref-palette-neutral20: #303034;
    --md-ref-palette-neutral25: #3b3b3f;
    --md-ref-palette-neutral30: #46464a;
    --md-ref-palette-neutral35: #525256;
    --md-ref-palette-neutral40: #5e5e62;
    --md-ref-palette-neutral50: #77767a;
    --md-ref-palette-neutral60: #919094;
    --md-ref-palette-neutral70: #acaaaf;
    --md-ref-palette-neutral80: #c7c6ca;
    --md-ref-palette-neutral90: #e4e2e6;
    --md-ref-palette-neutral95: #f2f0f4;
    --md-ref-palette-neutral98: #fbf8fd;
    --md-ref-palette-neutral99: #fefbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #191b23;
    --md-ref-palette-neutral-variant20: #2e3038;
    --md-ref-palette-neutral-variant25: #393b43;
    --md-ref-palette-neutral-variant30: #45464f;
    --md-ref-palette-neutral-variant35: #51525a;
    --md-ref-palette-neutral-variant40: #5d5e67;
    --md-ref-palette-neutral-variant50: #757680;
    --md-ref-palette-neutral-variant60: #8f909a;
    --md-ref-palette-neutral-variant70: #aaaab4;
    --md-ref-palette-neutral-variant80: #c5c6d0;
    --md-ref-palette-neutral-variant90: #e2e2ec;
    --md-ref-palette-neutral-variant95: #f0f0fa;
    --md-ref-palette-neutral-variant98: #faf8ff;
    --md-ref-palette-neutral-variant99: #fefbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #0c54d7;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #dbe1ff;
    --md-sys-color-on-primary-container-light: #00174b;
    --md-sys-color-secondary-light: #595e72;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #dde1f9;
    --md-sys-color-on-secondary-container-light: #161b2c;
    --md-sys-color-tertiary-light: #745470;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffd6f8;
    --md-sys-color-on-tertiary-container-light: #2b122b;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fefbff;
    --md-sys-color-on-background-light: #1b1b1f;
    --md-sys-color-surface-light: #fefbff;
    --md-sys-color-on-surface-light: #1b1b1f;
    --md-sys-color-surface-variant-light: #e2e2ec;
    --md-sys-color-on-surface-variant-light: #45464f;
    --md-sys-color-outline-light: #757680;
    --md-sys-color-inverse-on-surface-light: #f2f0f4;
    --md-sys-color-inverse-surface-light: #303034;
    --md-sys-color-inverse-primary-light: #b4c5ff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #0c54d7;
    --md-sys-color-outline-variant-light: #c5c6d0;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #b4c5ff;
    --md-sys-color-on-primary-dark: #002a78;
    --md-sys-color-primary-container-dark: #003ea8;
    --md-sys-color-on-primary-container-dark: #dbe1ff;
    --md-sys-color-secondary-dark: #c1c5dd;
    --md-sys-color-on-secondary-dark: #2b3042;
    --md-sys-color-secondary-container-dark: #414659;
    --md-sys-color-on-secondary-container-dark: #dde1f9;
    --md-sys-color-tertiary-dark: #e2bbdb;
    --md-sys-color-on-tertiary-dark: #422741;
    --md-sys-color-tertiary-container-dark: #5a3d58;
    --md-sys-color-on-tertiary-container-dark: #ffd6f8;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1b1b1f;
    --md-sys-color-on-background-dark: #e4e2e6;
    --md-sys-color-surface-dark: #1b1b1f;
    --md-sys-color-on-surface-dark: #e4e2e6;
    --md-sys-color-surface-variant-dark: #45464f;
    --md-sys-color-on-surface-variant-dark: #c5c6d0;
    --md-sys-color-outline-dark: #8f909a;
    --md-sys-color-inverse-on-surface-dark: #1b1b1f;
    --md-sys-color-inverse-surface-dark: #e4e2e6;
    --md-sys-color-inverse-primary-dark: #0c54d7;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #b4c5ff;
    --md-sys-color-outline-variant-dark: #45464f;
    --md-sys-color-scrim-dark: #000000;
  }
  