[data-theme='uranus'] {
	--md-source: #baffde;
	/* primary */
	--md-ref-palette-primary0: #000000;
	--md-ref-palette-primary10: #002115;
	--md-ref-palette-primary20: #003827;
	--md-ref-palette-primary25: #004530;
	--md-ref-palette-primary30: #00513a;
	--md-ref-palette-primary35: #005e43;
	--md-ref-palette-primary40: #006c4e;
	--md-ref-palette-primary50: #008862;
	--md-ref-palette-primary60: #29a37a;
	--md-ref-palette-primary70: #4cbf93;
	--md-ref-palette-primary80: #6adbae;
	--md-ref-palette-primary90: #87f8c9;
	--md-ref-palette-primary95: #bdffdf;
	--md-ref-palette-primary98: #e7fff1;
	--md-ref-palette-primary99: #f4fff7;
	--md-ref-palette-primary100: #ffffff;
	/* secondary */
	--md-ref-palette-secondary0: #000000;
	--md-ref-palette-secondary10: #092017;
	--md-ref-palette-secondary20: #1f352b;
	--md-ref-palette-secondary25: #2a4036;
	--md-ref-palette-secondary30: #354b41;
	--md-ref-palette-secondary35: #41574c;
	--md-ref-palette-secondary40: #4c6358;
	--md-ref-palette-secondary50: #657c70;
	--md-ref-palette-secondary60: #7e9689;
	--md-ref-palette-secondary70: #98b1a3;
	--md-ref-palette-secondary80: #b3ccbe;
	--md-ref-palette-secondary90: #cfe9da;
	--md-ref-palette-secondary95: #ddf7e8;
	--md-ref-palette-secondary98: #e7fff1;
	--md-ref-palette-secondary99: #f4fff7;
	--md-ref-palette-secondary100: #ffffff;
	/* tertiary */
	--md-ref-palette-tertiary0: #000000;
	--md-ref-palette-tertiary10: #001f2a;
	--md-ref-palette-tertiary20: #083544;
	--md-ref-palette-tertiary25: #18404f;
	--md-ref-palette-tertiary30: #254b5b;
	--md-ref-palette-tertiary35: #315767;
	--md-ref-palette-tertiary40: #3e6374;
	--md-ref-palette-tertiary50: #577c8d;
	--md-ref-palette-tertiary60: #7096a8;
	--md-ref-palette-tertiary70: #8bb1c3;
	--md-ref-palette-tertiary80: #a6ccdf;
	--md-ref-palette-tertiary90: #c1e8fc;
	--md-ref-palette-tertiary95: #e0f4ff;
	--md-ref-palette-tertiary98: #f4faff;
	--md-ref-palette-tertiary99: #fafcff;
	--md-ref-palette-tertiary100: #ffffff;
	/* neutral */
	--md-ref-palette-neutral0: #000000;
	--md-ref-palette-neutral10: #191c1a;
	--md-ref-palette-neutral20: #2e312f;
	--md-ref-palette-neutral25: #393c3a;
	--md-ref-palette-neutral30: #444845;
	--md-ref-palette-neutral35: #505350;
	--md-ref-palette-neutral40: #5c5f5c;
	--md-ref-palette-neutral50: #757875;
	--md-ref-palette-neutral60: #8e918e;
	--md-ref-palette-neutral70: #a9aca8;
	--md-ref-palette-neutral80: #c5c7c4;
	--md-ref-palette-neutral90: #e1e3df;
	--md-ref-palette-neutral95: #eff1ed;
	--md-ref-palette-neutral98: #f8faf6;
	--md-ref-palette-neutral99: #fbfdf9;
	--md-ref-palette-neutral100: #ffffff;
	/* neutral-variant */
	--md-ref-palette-neutral-variant0: #000000;
	--md-ref-palette-neutral-variant10: #151d19;
	--md-ref-palette-neutral-variant20: #2a322e;
	--md-ref-palette-neutral-variant25: #353d38;
	--md-ref-palette-neutral-variant30: #404944;
	--md-ref-palette-neutral-variant35: #4b554f;
	--md-ref-palette-neutral-variant40: #57605b;
	--md-ref-palette-neutral-variant50: #707973;
	--md-ref-palette-neutral-variant60: #8a938d;
	--md-ref-palette-neutral-variant70: #a4ada7;
	--md-ref-palette-neutral-variant80: #bfc9c2;
	--md-ref-palette-neutral-variant90: #dbe5de;
	--md-ref-palette-neutral-variant95: #eaf3ec;
	--md-ref-palette-neutral-variant98: #f2fcf4;
	--md-ref-palette-neutral-variant99: #f5fff7;
	--md-ref-palette-neutral-variant100: #ffffff;
	/* error */
	--md-ref-palette-error0: #000000;
	--md-ref-palette-error10: #410002;
	--md-ref-palette-error20: #690005;
	--md-ref-palette-error25: #7e0007;
	--md-ref-palette-error30: #93000a;
	--md-ref-palette-error35: #a80710;
	--md-ref-palette-error40: #ba1a1a;
	--md-ref-palette-error50: #de3730;
	--md-ref-palette-error60: #ff5449;
	--md-ref-palette-error70: #ff897d;
	--md-ref-palette-error80: #ffb4ab;
	--md-ref-palette-error90: #ffdad6;
	--md-ref-palette-error95: #ffedea;
	--md-ref-palette-error98: #fff8f7;
	--md-ref-palette-error99: #fffbff;
	--md-ref-palette-error100: #ffffff;
	/* light */
	--md-sys-color-primary-light: #006c4e;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #87f8c9;
	--md-sys-color-on-primary-container-light: #002115;
	--md-sys-color-secondary-light: #4c6358;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #cfe9da;
	--md-sys-color-on-secondary-container-light: #092017;
	--md-sys-color-tertiary-light: #3e6374;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #c1e8fc;
	--md-sys-color-on-tertiary-container-light: #001f2a;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-background-light: #fbfdf9;
	--md-sys-color-on-background-light: #191c1a;
	--md-sys-color-surface-light: #fbfdf9;
	--md-sys-color-on-surface-light: #191c1a;
	--md-sys-color-surface-variant-light: #dbe5de;
	--md-sys-color-on-surface-variant-light: #404944;
	--md-sys-color-outline-light: #707973;
	--md-sys-color-inverse-on-surface-light: #eff1ed;
	--md-sys-color-inverse-surface-light: #2e312f;
	--md-sys-color-inverse-primary-light: #6adbae;
	--md-sys-color-shadow-light: #000000;
	--md-sys-color-surface-tint-light: #006c4e;
	--md-sys-color-outline-variant-light: #bfc9c2;
	--md-sys-color-scrim-light: #000000;
	/* dark */
	--md-sys-color-primary-dark: #6adbae;
	--md-sys-color-on-primary-dark: #003827;
	--md-sys-color-primary-container-dark: #00513a;
	--md-sys-color-on-primary-container-dark: #87f8c9;
	--md-sys-color-secondary-dark: #b3ccbe;
	--md-sys-color-on-secondary-dark: #1f352b;
	--md-sys-color-secondary-container-dark: #354b41;
	--md-sys-color-on-secondary-container-dark: #cfe9da;
	--md-sys-color-tertiary-dark: #a6ccdf;
	--md-sys-color-on-tertiary-dark: #083544;
	--md-sys-color-tertiary-container-dark: #254b5b;
	--md-sys-color-on-tertiary-container-dark: #c1e8fc;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-on-error-container-dark: #ffdad6;
	--md-sys-color-background-dark: #191c1a;
	--md-sys-color-on-background-dark: #e1e3df;
	--md-sys-color-surface-dark: #191c1a;
	--md-sys-color-on-surface-dark: #e1e3df;
	--md-sys-color-surface-variant-dark: #404944;
	--md-sys-color-on-surface-variant-dark: #bfc9c2;
	--md-sys-color-outline-dark: #8a938d;
	--md-sys-color-inverse-on-surface-dark: #191c1a;
	--md-sys-color-inverse-surface-dark: #e1e3df;
	--md-sys-color-inverse-primary-dark: #006c4e;
	--md-sys-color-shadow-dark: #000000;
	--md-sys-color-surface-tint-dark: #6adbae;
	--md-sys-color-outline-variant-dark: #404944;
	--md-sys-color-scrim-dark: #000000;
}
