@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;600&family=League+Spartan:wght@400;700&display=swap');

@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

@import './vars.scss';
@import './theme.scss';

.icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }
  
  .with-icon {
    display: inline-flex;
    align-items: baseline;
  }
  
  .with-icon .icon {
    margin-inline-end: 1rem;
  }
